.frame {
    width: 20rem;
    height: 15rem;
    background-color: brown;
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.artwork {
    width: 18rem;
    height: 12rem;
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    align-items: center;
}

.nameplate {
    background-color: gold;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.gallery {
    display: flex;
    margin: 1rem;
}