.landing {
    display: flex;
    height: 90vh;
}

.landing-box{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 50%;
    h2 {
        width: 25%;
        border: 1px solid black;
        
    }
}

.create {
    justify-content: end;  
}

.goto-gallery {
    justify-content: start; 
}