.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    h1 {
        font-size: 1.5rem;
        margin: .5rem 0;
    }
}

.nav-buttons {
    display: flex;
    align-items: center;
}